# ignore obj directory
obj/
# ignore bin folder except input and waverf coef
bin/*
!bin/input_HOS.dat
!bin/waverf*
# ignore backup files + Mac specific files
*~
sources/*/*~
sources/*/*.orig
.DS_Store
# ignore PostProcessing/obj directory
sources/PostProcessing/obj/
# ignore PostProcessing/bin directory except input
sources/PostProcessing/bin/*
!sources/PostProcessing/bin/input_post_process.dat
# ignore HOS_ocean directory
HOS_ocean/
# ignore Benchmark folder except waverf coef
Benchmark/Convergence_RF/*
!Benchmark/Convergence_RF/waverf*
# ignore build and install folder (from cmake)
install/
build/
# ignore cmake folder, except 2 files
cmake/*
!cmake/cmake/
!cmake/CMakeLists.txt
!cmake/CMakeSources.cmake
